[buildout]
develop = .
parts = py omelette
extensions = buildout.dumppickedversions

[py]
recipe = zc.recipe.egg
eggs =
	nose
	coverage
	repozitory[test]
	sphinx
interpreter = py

[omelette]
recipe = collective.recipe.omelette
eggs = repozitory[test]
ignores = setuptools
